<div class="container">
  <h2>All users signed up for Souqalmal.</h2>
  
  <!-- <ul class="list-group user-list">
  <li class="list-group-item" ng-repeat="user in admin.users"> -->
   <table class="table table table-hover">
     <thead>
       <tr> 
         <th>Users</th>
         <th>No. of Views</th>
       </tr>
     </thead>
     <tbody>
      <tr ng-repeat="user in admin.users">
        <td>
          <strong>{{user.name}}</strong><br>
          <span class="text-muted">{{user.email}}</span>    
        </td>
        <td><span class="label label-primary">{{user.noOfViews}}</span></td>
      </tr>
    </tbody>
  </table>

  <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
  <!-- </li>
</ul> -->
</div>
