<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<div class="well" dir-paginate="credit_card in credit_cards | itemsPerPage: 5">
				<!-- <h3>{{credit_card.descriptions.name}}</h3> -->
				<div class="row">
					<div class="col-lg-4">
						<img ng-src="{{credit_card.image_url}}" class="card-size pull-left img-responsive">
						<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=120" ng-if="!credit_card.image_url" class="card-size pull-left img-responsive">
						
					</div>
					<div class="col-lg-8">
						<h4><b>{{credit_card.descriptions.name}}</b></h4>
						<div class="panel panel-default cc-desc">
							<div class="panel-body">
								<p>{{credit_card.descriptions.benefits | limitTo:textLength}}</p>
								<button type="button" ng-click="changeLength()" class="btn btn-default btn-xs">Read More</button>
							</div>

						</div>
					</div>
				</div>
			</div>
			<span class="pull-left">
				<dir-pagination-controls
				max-size="5"
				direction-links="true"
				boundary-links="true" >
			</dir-pagination-controls>
		</span>


		<div class="col-lg-4"></div>
	</div>
</div>

