<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<div ng-repeat="credit_card in credit_cards">
				<h3>{{credit_card.descriptions.name}}</h3>
				<img ng-src="{{credit_card.image_url}}" class="card-size pull-left img-responsive">
				<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=120" ng-if="!credit_card.image_url" class="card-size pull-left img-responsive">
				<article><p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
					ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
					five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
					of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
					Lorem Ipsum.    
				</p></article>
			</div>
		</div>
		<div class="col-lg-4"></div>
	</div>
</div>

