

<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" >
		</dir-pagination-controls>
	</div>
	<div class="col-lg-4">
		<button type="button" class="btn btn-success reload" ng-click="reloadCc()">Reload Credit Cards</button>
	</div>
</div>
<div class="hideLoader">
	<img src="assets/images/ajax-loader.gif" alt="Loading" title="Loading" id="centeredDiv" />
</div>
<div class="row">

	
	<div class="col-lg-8">
		<!-- <div class="well" dir-paginate="credit_card in credit_cards | itemsPerPage: 5"> -->
		<div class="well" dir-paginate="credit_card in filtered=(credit_cards | filter:filterByCategory) | itemsPerPage: 5">
			<!-- <h3>{{credit_card.descriptions.name}}</h3> -->
			<div class="row">
				<div class="col-lg-4">
					<img ng-src="{{credit_card.image_url}}" class="card-size pull-left img-responsive">
					<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=120" ng-if="!credit_card.image_url" class="card-size pull-left img-responsive">

				</div>
				<div class="col-lg-8 pull-up">
					<h4><b>{{credit_card.descriptions.name}}</b></h4>
					<div class="panel panel-default cc-desc">
						<div class="panel-body">
							<p>{{credit_card.descriptions.benefits | limitTo:textLength}}....</p>
						</div>
					</div>
					<a class="btn btn-primary pull-right" ui-sref="details({ cardID: credit_card._id})">Read More</a>
				</div>
			</div>
		</div>
	</div>



	<div class="col-lg-4">
		<div class="panel panel-primary"> 
			<div class="panel-heading">
				<h3 class="panel-title">Select Providers</h3>
			</div>
			<div class="panel-body">
				<div class="checkbox">
					<div ng-repeat="credit_card in getCreditCards()" class="select-providers">
						<label>
							<input type="checkbox" ng-model="filter[credit_card]">{{credit_card}}
						</input>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
<div class="row">
	<div class="col-lg-12">
		<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" >
	</dir-pagination-controls>
</div>
</div>
</div>

